header {
    text-align: center;
}

h1 {
background-color: blue;
color: white;
}

h2 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightblue;
    margin: 10px;
    padding-left: 10px;
}

aside {
    border: 1px solid black;
}

#test {
    height: 90vh;
}

#current-city {
    border: 1px solid black;
}

#fiveday {
    border: 1px solid black;
}

#history>button {
    width: 90%;
}