header {
    text-align: center;
    background-image: linear-gradient(to top right, black, blue);
    color: white;
}

h2 {
    background-image: linear-gradient(to top right, black, blue);
    color: white;
}

aside {
    border: 1px solid black;
}



#current-city {
    border: 1px solid black;
}

#fiveday {
    border: 1px solid black;
}

#history>button {
    width: 90%;
}

h3 {
    color: white;
    background-image: linear-gradient(to top right, black, blue);
    text-align: center;
}

#fiveday>div{
    border: 1px solid black; 
    background-image: linear-gradient(to bottom, white, lightblue);
    font-size: 2rem;
    color: black;
}